@import "node_modules/bootstrap/scss/bootstrap";

$text_color: white;
$main_bg_color: #282c35;
$container_bg_color: #161624;
$item_bg_color: #333354;
$item_bg_hover_color: #827c96;
$item_bg_icon_color: #3e3e66;
$item_br_color: #fff;
$item_title_bg_color: #3e3e66;

$breakpoint-phone: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-l-desktop: 1200px;

html, body, footer {
  color: $text_color;
  background-color: $main_bg_color;
}

.navbar {
  a, p {
    color: $text_color;
  }

  // Fix lang selection box position.
  @media (max-width: $breakpoint-desktop) {
    .dropdown-menu {
      margin-right: 60px !important;
      margin-top: -40px !important;
    }
  }
}

.App {
  text-align: center;
  min-height: 100vh;
  //display: flex; //center
  flex-direction: column;
  align-items: center;

  #welcome-message {
    margin-top: 20vh;
    margin-bottom: 5vh;

    @media (max-width: $breakpoint-tablet) {
      margin-top: 3vh;
      margin-bottom: 2vh;
    }
  }
}

div.container {
  background-color: $container_bg_color;
  text-align: start;
}

.card {
  margin-right: 10vh;
  margin-left: 10vh;
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: .5s;

  @media (max-width: $breakpoint-tablet) {
    margin-right: 1vh;
    margin-left: 1vh;
  }
}

// not found (404)
#not-found {
  text-align: center;
  min-height: 100vh;
  display: flex; //center
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
}

// Loading modal
.modal-dialog {
  margin-top: 50vh;
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: .5s;
  .modal-content {
    background-color: $container_bg_color;
    --bs-modal-header-border-color: black; // header bottom border
    .modal-header {
      background-color: $item_bg_color;
    }
    .modal-body {
      display: flex; //center
      flex-direction: column;
      align-items: center;
    }
  }
}

// DatabaseSelectionBox
#databases-container {
  .card-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $container_bg_color;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }
  .database-card-item {
    margin-right: 1vh;
    margin-left: 1vh;
    margin-bottom: 2vh;

    .database-card-item-body {
      padding: 5px;

      .row {
        height: 100%;
      }
    }

    .database-card-item-body:hover {
      background-color: $item_bg_hover_color;
    }

    .col-md-4 {
      background-color: $item_bg_icon_color;

      @media (max-width: $breakpoint-tablet) {
        display: none;
      }
      @media (min-width: $breakpoint-tablet) {
        display: flex;
        flex: auto;
        align-items: center;
        img {
          display: inline;
          margin-left: 10px;
          width: 75px;
          height: 75px;
        }
      }
      @media (min-width: $breakpoint-l-desktop) {
        display: flex;
        flex: auto;
        align-items: center;
        svg {
          width: 100px;
          height: 100px;
        }
        img {
          display: inline;
          margin-left: 25px;
          width: 100px;
          height: 100px;
        }
      }
    }

    .card-body {
      background-color: $item_bg_color;
      height: 100%;

      .card-title {
        background-color: $item_title_bg_color;
      }
      .footer {
        text-align: start;
      }
    }
  }
}

// Analysis
#analysis-container {
  margin-top: 5vh;

  .bg-dark {
    color: white;
  }

  .form-select, .form-control {
    background: $item_bg_color;
    color: white;
  }

  #filters {
    margin-bottom: 1vh;
  }

  .row {
    margin: 0 10vh 2vh;

    .card {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .input-group-text {
    background: $item_bg_color;
    color: $text_color;
  }

  .card-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $container_bg_color;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }

  .container {

  }

  .card-body {
    //padding: 0;

    button.nav-link {
      background: $item_bg_color;
      color: white;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    button.nav-link.active {
      background: $item_bg_color;
      color: white;
    }
  }

  #content {
    --bs-card-border-radius: 0rem;

    @media (max-width: $breakpoint-tablet) {
      margin-right: 10vh;
      margin-left: 10vh;
    }

    .card-body {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}