@import "node_modules/bootstrap/scss/bootstrap";

$background: #282c35;
$container_background: #161624;
$container_border_color: #fff;
$item_color: #333354;

#root {
  background-color: $background;
}

.App {
  text-align: center;
  min-height: 100vh;
  //display: flex; //center
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, a, p {
  color: white;
}

div.container {
  background-color: $container_background;
  text-align: start;
}

// Loading modal
.modal-dialog {
  margin-top: 50vh;
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: .5s;
  .modal-content {
    background-color: $container_background;
    --bs-modal-header-border-color: black; // header bottom border
    .modal-header {
      background-color: $item_color;
    }
    .modal-body {
      display: flex; //center
      flex-direction: column;
      align-items: center;
    }
  }
}

#welcome {
  h1 {
    margin-top: 20vh;
  }
  .container {
    margin-top: 10vh;
    h2 {
      text-align: center;
    }
    .card {
      background-color: $item_color;
    }
  }
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: .5s;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}